.specificpage{
  .compDom {
    margin-top: 14px;
    position: relative;
    ul{
      list-style: none;
      li{
        height: 143px;
        .header{
          height: 25px;
          line-height: 25px;
          span:nth-child(1){
            width: 10px;
            height: 10px;
            display: inline-block;
            border-radius: 5px;
            border-width: 2px;
            border-style: solid;
            margin-left: 19px;
            margin-right: 9px;
          }
          span:nth-child(2){
            opacity: 0.85;
            font-size: 18px;
            color: #161619;
            letter-spacing: 0;
          }
        }
        .first{
          margin-top: 6px;
          height: 20px;
          margin-left: 38px;
          opacity: 0.65;
          font-size: 14px;
          color: #161619;
          letter-spacing: 0;
        }
        .other{
          margin-top: 2px;
          height: 20px;
          margin-left: 38px;
          margin-right: 15px;
          opacity: 0.65;
          font-size: 14px;
          color: #161619;
          letter-spacing: 0;
        }
        .last{
          line-height: 20px;
          span:nth-child(1){
            opacity: 0.2;
            font-size: 14px;
            color: #000000;
            letter-spacing: 0.19px;
            float: left;
          }
          span:nth-child(2){
            width: 80px;
            height: 30px;
            background-color: #5584FF;
            display: inline-block;
            text-align: center;
            font-size: 13px;
            color: #FFFFFF;
            letter-spacing: -0.43px;
            line-height: 30px;
            float: right;
            border-radius: 15px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
