.leftarrowtitle{
  height: 44px;
  background: url("./images/leftarrow.png") no-repeat 15.1px center;
  text-align: center;
  font-size: 18px;
  color: #333333;
  letter-spacing: 0.29px;
  line-height: 44px;
  position: relative;
  .clickBtn{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 11px;
    top: 8px;
  }
}
