//背景
$color-bg-1: #fff; // 浅色系主题
$color-bg-2: #1C1C2A; // 深色系主题
$color-bg-3: #000;
$color-bg-4: grey;

//分割线
$bg-color-7: #eeeeee;
//背景色、列表分割色块、标签未选中
$bg-color-8: #F2F3F4;


//字体颜色
$font-color-1: #333333;
$font-color-2: #fff;
$font-color-3: #999999;
$font-color-4: #71738D;
$font-color-5: #D4D5E6;
$font-color-6: #cccccc;


//品牌色
$brand-color-8: #5584FF;

