@charset "utf-8";
@import "color-theme";

/*背景*/
@mixin zxsk_bg($bgColor,$bgColorTheme) {
  background: $bgColor;
  [data-theme="dark"] & {
    background: $bgColorTheme;
  }
}

/*背景图片*/
@mixin zxsk_bg_img($bgImg,$bgImgTheme) {
  background: $bgImg no-repeat top left;
  [data-theme="dark"] & {
    background: $bgImgTheme no-repeat top left;
  }
}

/*背景图片全覆盖*/
@mixin zxsk_bg_img_cover($bgImg,$bgImgTheme) {
  background: $bgImg no-repeat top left;
  background-size: cover;
  [data-theme="dark"] & {
    background: $bgImgTheme no-repeat top left;
    background-size: cover;
  }
}

/*嵌套背景图片*/
@mixin zxsk_innerbg_img($bgImg,$bgImgTheme) {
  background: $bgImg no-repeat top center;
  [data-theme="dark"] & {
    background: $bgImgTheme no-repeat top center;
  }
}

/*border*/
@mixin zxsk_border($border,$borderTheme) {
  border: $border;
  [data-theme="dark"] & {
    border: $borderTheme;
  }
}
@mixin zxsk_border_image($borderImage,$borderImageTheme) {
  border-image: $borderImage;
  [data-theme="dark"] & {
    border-image: $borderImageTheme;
  }
}
@mixin zxsk_border_color($borderColor,$borderColorTheme) {
  border-color: $borderColor;
  [data-theme="dark"] & {
    border-color: $borderColorTheme;
  }
}
@mixin zxsk-border-bottom($width,$color-border-table,$color-border-table-dark) {
  border-bottom: $width solid $color-border-table;
  [data-theme="dark"] & {
    border-bottom: $width solid $color-border-table-dark;
  }
}
@mixin zxsk-border-bottom2($color-border-table,$color-border-table-dark) {
  border-bottom: $color-border-table;
  [data-theme="dark"] & {
    border-bottom:$color-border-table-dark;
  }
}
@mixin zxsk-border-top($width,$color-border-table,$color-border-table-dark) {
  border-top: $width solid $color-border-table;
  [data-theme="dark"] & {
    border-top: $width solid $color-border-table-dark;
  }
}
@mixin zxsk-border-top2($color-border-table,$color-border-table-dark) {
  border-top: $color-border-table;
  [data-theme="dark"] & {
    border-top: $color-border-table-dark;
  }
}
@mixin zxsk-border-left($width,$color-border-table,$color-border-table-dark) {
  border-left: $width solid $color-border-table;
  [data-theme="dark"] & {
    border-left: $width solid $color-border-table-dark;
  }
}
@mixin zxsk-border-right($width,$color-border-table,$color-border-table-dark) {
  border-right: $width solid $color-border-table;
  [data-theme="dark"] & {
    border-right: $width solid $color-border-table-dark;
  }
}
/*字体颜色*/
@mixin zxsk-font-color($color,$colorTheme) {
  color: $color;
  [data-theme="dark"] & {
    color: $colorTheme;
  }
}
@mixin zxsk-font-size($size,$sizeTheme) {
  size: $size;
  [data-theme="dark"] & {
    size: $sizeTheme;
  }
}
@mixin zxsk-font-size2($size,$sizeTheme) {
  font-size: $size;
  [data-theme="dark"] & {
    font-size: $sizeTheme;
  }
}
/*字体*/
@mixin zxsk-font-family($family,$familyTheme) {
  font-family: $family;
  [data-theme="dark"] & {
    size: $familyTheme;
  }
}
/*box-shadow*/
@mixin zxsk-box-shadow($shadow,$shadowTheme) {
  -moz-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
  [data-theme="dark"] & {
    -moz-box-shadow: $shadowTheme;
    -webkit-box-shadow: $shadowTheme;
    box-shadow: $shadowTheme;
  }
}

@mixin zxsk-tab-triangle-bg($color-bg-zxsk-tab,$color-bg-zxsk-tab-dark) {
  border-color: transparent transparent $color-bg-zxsk-tab;
  [data-theme="dark"] & {
    border-color: transparent transparent $color-bg-zxsk-tab-dark;
  }
}

@mixin zxsk-tab-triangle-bg-active($color-bg-zxsk-triangle-active,$color-bg-zxsk-triangle-active-dark) {
  background: $color-bg-zxsk-triangle-active;
  [data-theme="dark"] & {
    background: $color-bg-zxsk-triangle-active-dark;
  }
}

@mixin zxsk-border-radius($borderRadius,$borderRadiusTheme) {
  border-radius: $borderRadius;
  [data-theme="dark"] & {
    border-radius:$borderRadiusTheme;
  }
}

@mixin zxsk-display($display,$displayTheme) {
  display: $display;
  [data-theme="dark"] & {
    display:$displayTheme;
  }
}

@mixin zxsk-visible($visible,$visibleTheme) {
  visibility: $visible;
  [data-theme="dark"] & {
    visibility:$visibleTheme;
  }
}
@mixin zxsk-margin-top($marginTop,$marginTopTheme) {
  margin-top: $marginTop;
  [data-theme="dark"] & {
    margin-top:$marginTopTheme;
  }
}
@mixin zxsk-margin-left($marginTop,$marginTopTheme) {
  margin-left: $marginTop;
  [data-theme="dark"] & {
    margin-left:$marginTopTheme;
  }
}
@mixin zxsk-margin-right($marginRight,$marginRightTheme) {
  margin-right: $marginRight;
  [data-theme="dark"] & {
    margin-right:$marginRightTheme;
  }
}
@mixin zxsk-top($top,$topTheme) {
  top: $top;
  [data-theme="dark"] & {
    top:$topTheme;
  }
}
@mixin zxsk-bottom($bottom,$bottomTheme) {
  bottom: $bottom;
  [data-theme="dark"] & {
    bottom:$bottomTheme;
  }
}
@mixin zxsk-left($left,$leftTheme) {
  left: $left;
  [data-theme="dark"] & {
    left:$leftTheme;
  }
}

@mixin zxsk-width($width,$widthTheme) {
  width: $width;
  [data-theme="dark"] & {
    width:$widthTheme;
  }
}

@mixin zxsk-height($height,$heightTheme) {
  height: $height;
  [data-theme="dark"] & {
    height:$heightTheme;
  }
}
@mixin zxsk-scrollbar(){
  /*三角箭头的颜色*/
  scrollbar-arrow-color: #fff;
  /*滚动条滑块按钮的颜色*/
  scrollbar-face-color: rgba(0, 203, 210, 1);
  /*滚动条整体颜色*/
  scrollbar-highlight-color: #333;
  /*滚动条阴影*/
  scrollbar-shadow-color: #ccc;
  /*滚动条轨道颜色*/
  scrollbar-track-color: rgba(41, 85, 192, 0.9);
  [data-theme="dark"] & {
    scrollbar-arrow-color: #bbb;
    scrollbar-face-color: #e4e7ed;
    scrollbar-highlight-color: #F2F2F2;
    scrollbar-shadow-color: #ccc;
    scrollbar-track-color: #f5f7fa;
  }
}

@mixin zxsk-transform($transform, $transformTheme) {
  transform: $transform;
  [data-theme="dark"] & {
    transform: $transformTheme;
  }
}

@mixin zxsk-transform-origin($transformOrigin, $transformOriginTheme) {
  transform-origin: $transformOrigin;
  [data-theme="dark"] & {
    transform-origin: $transformOriginTheme;
  }
}

@mixin zxsk-tansform2($transform, $transformTheme){
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
  [data-theme="dark"] & {
    -webkit-transform: $transformTheme;
    -moz-transform: $transformTheme;
    -ms-transform: $transformTheme;
    -o-transform: $transformTheme;
    transform: $transformTheme;
  }
}
@mixin zxsk-padding($padding,$paddingTheme) {
  padding: $padding;
  [data-theme="dark"] & {
    padding:$paddingTheme;
  }
}
