.btn{
  button{
    width: 342px;
    height: 47px;
    background: #5584FF;
    border-radius: 23.5px;
    margin: 10px calc(50% - 171px) 10px;
    border: 0;
    font-family: NotoSansHans-Regular;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
  }
}
