.showlist{
  ul{
    list-style: none;
    margin: 20px 15px;
    li{
      height: 52px;
      margin: 0 15px;
      line-height: 52px;
      span:nth-child(1){
        float: left;
        font-size: 15px;
        color: #333333;
        letter-spacing: 0.26px;
        text-align: left;
      }
      span:nth-child(2){
        float: right;
        font-size: 15px;
        color: #999999;
        letter-spacing: 0.27px;
      }
    }
  }
}
