.personelinfo{
  .personelphoto{
    display: flex;
    justify-content: space-between;
    height: 67px;
    line-height: 67px;
    margin-left:16px;
    padding-right:16px;
    border-bottom: 1px solid #eeeeee;
    span{
      font-family: NotoSansHans-Regular;
      font-size: 16px;
      @include zxsk-font-color($font-color-1,$font-color-5);
    }
    .photoimg{
      padding-right: 20px;
      cursor: pointer;
      background: url("./images/rightarrow.svg") no-repeat right center
    }
  }
  ul{
    list-style: none;
    padding-left: 15px;
    li{
      height: 52px;
      overflow: hidden;
      border-bottom: 1px solid #eeeeee;
      .content{
        height: 30px;
        margin: 11px 16px 11px 0;
        span:nth-child(1){
          float: left;
          line-height: 30px;
          font-family: NotoSansHans-Regular;
          font-size: 16px;
          @include zxsk-font-color($font-color-1,$font-color-5);
          letter-spacing: 0.29px;
          text-align: left;
        }
        span:nth-child(2){
          float: right;
          min-height: 30px;
          padding: 0 20px;
          line-height: 30px;
          font-family: NotoSansHans-Regular;
          font-size: 16px;
          @include zxsk-font-color($font-color-6,$font-color-4);
          letter-spacing: 0.27px;
          text-align: center;
          cursor: pointer;
          background: url("./images/rightarrow.svg") no-repeat right center;
        }
      }
    }
  }
}
