.reviseusername{
  .revise-box{
    display: flex;
    justify-content: space-between;
    height: 52px;
    line-height: 52px;
    background: #ffffff;
    padding: 0 16px;
    span{
      font-family: NotoSansHans-Regular;
      font-size: 16px;
      @include zxsk-font-color($font-color-1,$font-color-5);
    }
    input{
      border: none;
      outline: none;
      font-family: NotoSansHans-Regular;
      font-size: 16px;
      @include zxsk-font-color($font-color-3,$font-color-5);
      text-align: right;
    }
    ::-webkit-input-placeholder{
      color: #cccccc;
    }
  }
}
