.mycase{
  .head{
    height: 44px;
    line-height: 44px;
    font-size: 18px;
    color: #333333;
    letter-spacing: 0.29px;
    text-align: center;
  }
  .sentiments {
    position: relative;
    overflow: hidden;
    background-color: #F2F3F7;
    .sentiment {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      height: 43.5px;
      line-height: 43.5px;
      .sentiment-item {
        display: inline-block;
        width: 80px;
        text-align: center;
        font-size: 16px;
        color: #333333;
        &:last-child {
          margin: 0
        }
        .active{
          height: 100%;
          padding-bottom: 10px;
          color: #5584FF;
          border-bottom: 2px solid #5584FF;
        }
        & > a {
          display: block;
          font-size: 14px;
          color: rgb(77, 85, 93);
          &.active {
            color: rgb(240, 20, 20);
          }
        }
      }
    }
  }
  .tabs {
    position: relative;
    border-bottom: 2px solid #e4e7ed;
    overflow: hidden;
    .tab {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      height: 43.5px;
      line-height: 43.5px;
      .tab-item {
        display: inline-block;
        width: 80px;
        text-align: center;
        font-size: 16px;
        color: #333333;
        &:last-child {
          margin: 0
        }
        .active{
          height: 100%;
          padding-bottom: 10px;
          color: #5584FF;
          border-bottom: 2px solid #5584FF;
        }
        & > a {
          display: block;
          font-size: 14px;
          color: rgb(77, 85, 93);
          &.active {
            color: rgb(240, 20, 20);
          }
        }
      }
    }
  }
  .compDom{
    margin-top: 10px;
    position: relative;
    .tab1{
      .content {
        position: relative;
        top: 0px;
        bottom: 60px;
        width: 100%;
        height: 460px;
        overflow: hidden;

        .classify-wrapper {
          background: #fff;

          .classify {
            overflow: hidden;
            padding: 0;
            margin: 0;

            .classify-item {
              float: left;
              width: 25%;
              text-align: center;
              list-style: none;

              .icon {
                display: inline-block;
                width: 60px;
                height: 60px;
                line-height: 45px;
                text-align: center;
                border-radius: 50%;
                font-size: 18px;
                color: #fff;
              }

              .list {
                color: #333333;
                margin: 0;
                font-size: 14px;
              }
            }
          }
        }

        .bulletin-wrapper {
          position: relative;
          height: 20px;
          line-height: 20px;
          margin-top: 32px;
          padding: 0 20px 0 20px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          background: #fff;
          .bulletin-title {
            display: inline-block;
            vertical-align: top;
            width: 50px;
            height: 50px;
            /* @include bg-image('bulletin');*/
            background-size: 22px 12px;
            background-repeat: no-repeat;
            .icon {
              vertical-align: top;
              width: 48px;
              height: 24px;
            }
          }

          .bulletin-text {
            display: inline-block;
            margin-top: 2px;
            height: 20px;
            line-height: 20px;
            vertical-align: top;
            font-size: 14px;
          }
        }
      }
      ul{
        list-style: none;
        margin: 0 14px;
        li{
          height: 170px;
          cursor: pointer;
          .header{
            height: 20px;
            span:nth-child(1){
              font-size: 14px;
              color: #161619;
              letter-spacing: 0;
              float: left;
            }
            span:nth-child(2){
              font-size: 16px;
              color: #EF7340;
              letter-spacing: 0;
              float: right;
            }
          }
          .police{
            height: 25px;
            margin-top: 10px;
            font-size: 18px;
            color: #161619;
            letter-spacing: 0;
          }
          .footer{
            margin-top: 6px;
            font-size: 16px;
            color: #161619;
            letter-spacing: 0;
          }
          .operation{
            margin-top: 30px;
            height: 30px;
            text-align: right;
            span{
              width: 65px;
              height: 27px;
              background-color: #5584FF;
              display: inline-block;
              border-radius: 14px;
              margin-left: 8px;
              text-align: center;
              font-size: 13px;
              color: #FFFFFF;
              letter-spacing: -0.43px;
              line-height: 27px;
            }
          }
        }
      }
    }
  }
}
