.mycase{
  .head{
    height: 44px;
    line-height: 44px;
    font-size: 18px;
    color: #333333;
    letter-spacing: 0.29px;
    text-align: center;
  }
  .tabs {
    position: relative;
    overflow: hidden;
    .tab {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      height: 43.5px;
      line-height: 43.5px;
      .tab-item {
        display: inline-block;
        width: 80px;
        text-align: center;
        font-size: 16px;
        color: #333333;
        &:last-child {
          margin: 0
        }
        .active{
          height: 100%;
          color: #5584FF;
          border-bottom: 2px solid #5584FF;
          display: inline-block;
        }
        & > a {
          display: block;
          font-size: 14px;
          color: rgb(77, 85, 93);
          &.active {
            color: rgb(240, 20, 20);
          }
        }
      }
    }
  }
  .compDom{
    margin-top: 14px;
    position: relative;
    .tab1{
      .content {
        position: relative;
        top: 0px;
        bottom: 60px;
        width: 100%;
        height: 540px;
        overflow: hidden;

        .classify-wrapper {
          background: #fff;

          .classify {
            overflow: hidden;
            padding: 0;
            margin: 0;

            .classify-item {
              float: left;
              width: 25%;
              text-align: center;
              list-style: none;

              .icon {
                display: inline-block;
                width: 60px;
                height: 60px;
                line-height: 45px;
                text-align: center;
                border-radius: 50%;
                font-size: 18px;
                color: #fff;
              }

              .list {
                color: #333333;
                margin: 0;
                font-size: 14px;
              }
            }
          }
        }

        .bulletin-wrapper {
          position: relative;
          height: 20px;
          line-height: 20px;
          margin-top: 32px;
          padding: 0 20px 0 20px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          background: #fff;
          .bulletin-title {
            display: inline-block;
            vertical-align: top;
            width: 50px;
            height: 50px;
            /* @include bg-image('bulletin');*/
            background-size: 22px 12px;
            background-repeat: no-repeat;
            .icon {
              vertical-align: top;
              width: 48px;
              height: 24px;
            }
          }

          .bulletin-text {
            display: inline-block;
            margin-top: 2px;
            height: 20px;
            line-height: 20px;
            vertical-align: top;
            font-size: 14px;
          }
        }

        .situationcase-wrapper {
          margin-top: 32px;

          .situationcase-title {
            padding-left: 16px;

            .title {
              font-size: 20px;
              line-height: 28px;
              color: #333333;
            }

            .subtitle {
              margin-left: 8px;
              font-size: 15px;
              line-height: 21px;
            }
          }

          .case {
            margin: 0;
            padding-left: 20px;
            padding-right: 16px;

            .case-item {
              display: flex;
              height: 74px;
              margin: 14px 0px 14px 0px;
              list-style: none;
              overflow: hidden;
              @include border-1px(rgba(7, 17, 27, 0.1));

              .icon {
                display: inline-block;
                vertical-align: top;
                margin-top: 10px;
                margin-right: 9px;
                width: 10px;
                height: 10px;
                /*背景图片设置必须是块元素*/
                background-size: 10px 10px;
                background-repeat: no-repeat;
              }

              .content {
                flex: 1;
                margin-top: 0;

                .name {
                  margin: 2px 0 8px 0;
                  height: 25px;
                  line-height: 25px;
                  font-size: 18px;
                  color: #161619;
                }

                .text {
                  height: 20px;
                  line-height: 20px;
                  font-size: 14px;
                  color: #161619;

                  &:last-child {
                    margin-bottom: 13px;
                  }
                }

                .desc {
                  margin-bottom: 8px;
                  margin-top: 11px;

                  .count {
                    /*margin-right: 59px;*/
                    line-height: 14px;
                    font-size: 14px;
                    color: #161619;
                    float: left;
                  }

                  .date {
                    line-height: 18px;
                    font-size: 13px;
                    color: #000000;
                    float: right;
                  }
                }
                .desct {
                  margin-bottom: 8px;
                  margin-top: 11px;
                  height: 30px;
                  line-height: 30px;
                  .detail {
                    display: inline-block;
                    float: right;
                  }

                  .date {
                    line-height: 18px;
                    font-size: 13px;
                    color: #000000;
                    float: left;
                    margin-top: 8px;
                  }
                }
              }
            }
          }

          .morecase {
            margin: 18px 13px 26px 13px;
            height: 47px;
            line-height: 47px;
            text-align: center;
            background: #F2F3F7;
            font-size: 18px;
            color: #999999;
          }
        }
      }
      ul{
        list-style: none;
        margin: 0 14px;
        li{
          height: 170px;
          cursor: pointer;
          .header{
            height: 20px;
            span:nth-child(1){
              font-size: 14px;
              color: #161619;
              letter-spacing: 0;
              float: left;
            }
            span:nth-child(2){
              font-size: 16px;
              color: #EF7340;
              letter-spacing: 0;
              float: right;
            }
          }
          .police{
            height: 25px;
            margin-top: 10px;
            font-size: 18px;
            color: #161619;
            letter-spacing: 0;
          }
          .footer{
            margin-top: 6px;
            font-size: 16px;
            color: #161619;
            letter-spacing: 0;
          }
          .operation{
            margin-top: 30px;
            height: 30px;
            text-align: right;
            span{
              width: 65px;
              height: 27px;
              background-color: #5584FF;
              display: inline-block;
              border-radius: 14px;
              margin-left: 8px;
              text-align: center;
              font-size: 13px;
              color: #FFFFFF;
              letter-spacing: -0.43px;
              line-height: 27px;
            }
          }
        }
      }
    }
  }
}
