.filterpage{
  ul{
    margin-top: 11px;
    list-style: none;
    li{
      margin: 0 16px;
      .title{
        height: 25px;
        font-size: 18px;
        color: #161619;
        text-align: left;
        margin-bottom: 0px;
      }
      .content{
        margin-top: 14px;
        overflow: hidden;
        span{
          display: inline-block;
          width: 68px;
          height: 28px;
          margin-right: 14px;
          margin-top: 11px;
          border-radius: 14px;
          line-height: 28px;
          font-size: 13px;
          letter-spacing: -0.43px;
          text-align: center;
        }
      }
    }
    li:nth-child(n+2){
      margin-top: 27px;
    }
    li:last-child{
      .content{
        span{
          width: 130px;
        }
      }
    }
  }
  .btns{
    margin: 37px auto 12px;
    text-align: center;
    span{
      width: 162px;
      height: 40px;
      display: inline-block;
      background-color: #fff;
      border: 1px solid #5584FF;
      border-radius: 21.5px;
      text-align: center;
      line-height: 40px;
      cursor: pointer;
    }
    span:nth-child(1){
      font-size: 14px;
      color: #5584FF;
      letter-spacing: 0.24px;
      text-align: center;
    }
    span:nth-child(2){
      background-color: #5584FF;
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 0.24px;
      text-align: center;
    }
  }
}
