.mail{
  font-family: NotoSansHans-Regular;
  >ul{
    list-style: none;
    background: #fff;
    >li{
      height: 52px;
      margin: 0 15px;
      line-height: 52px;
      border-bottom: 1px solid #eee;
      span{
        float: left;
        font-size: 16px;
        color: #333333;
        letter-spacing: 0;
      }
      input{
        float: right;
        font-size: 14px;
        color: #333333;
        letter-spacing: 0;
        text-align: right;
        border: none;
        outline: none;
        background: none;
      }
      input::-webkit-input-placeholder{
        color: #999999;
      }
      input::-moz-placeholder{
        color: #999999;
      }
      input:-ms-input-placeholder{
        color: #999999;
      }
    }
  }
  button{
    width: 342px;
    height: 47px;
    background: #5584FF;
    border-radius: 23.5px;
    margin: 44.5px calc(50% - 171px) 106px;
    border: 0;
    font-family: NotoSansHans-Regular;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
  }
}
